/bin/
/build/
/.classpath
/.project
/gradle-app.setting
/.settings/
/.gradle/
/*.iml
/.vagrant
#Ignore generated site folders
/site/content/data-mapping/
/site/content/data-model/
/site/static/data-mapping/
/site/static/data-model/
/.idea/**/*.xml
/.idea/**/*.iml