<div id="lineageNetwork"></div>
<script type="text/javascript">
var options = {
   layout:{
    randomSeed: 0,
    improvedLayout:true,
    hierarchical: {
      enabled:true,
      levelSeparation: 400,
      nodeSpacing: 50,
      treeSpacing: 50,
      blockShifting: true,
      edgeMinimization: true,
      parentCentralization: true,
      direction: 'RL',        // UD, DU, LR, RL
      sortMethod: 'directed'   // hubsize, directed
    },
   },
   edges:{
    smooth: false
   },
   physics: {
    enabled: false,
    minVelocity: 0.75
   },
  interaction:{
    multiselect: false,
    navigationButtons: true,
    selectable: true,
    selectConnectedEdges: true,
    tooltipDelay: 300,
    zoomView: true
  }
};



  $.get( "{{ .Site.BaseURL }}data-mapping/{{ .Get 0 }}", function( data ) {
        var network = new vis.Network(lineageNetwork, data, options);
        network.on('doubleClick',function (event) {
            if (event.nodes[0]) {
					var id=event.nodes[0]
					$.each(data.nodes,function(index,node){
						if (node.id==id) {
							window.location='{{ .Site.BaseURL }}'+node.targetUrl
						}
					})
                }
        })
  });



</script>